/* index page */
body, html {
    height: 100%;
}

.bg{
  background-image: url("/img/003.jpeg");
      /* The image used */
  
}

.home{
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}
.bg-white{
    opacity: 0.6;
}

#dancing {
  height: 400%;

  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

#box-container-img {
    display: flex;
    max-height: 600px;
    overflow: hidden;
    border-radius: 0.3%;
}
  
#img{
    width: 100%;
    height: 100%;
}  

#background-about{
    display: flex;
    justify-items: flex-end;
    background-color: white;
    opacity: 0.8;
    margin: 0 15% 0 15%;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    margin: 10px;
}

.about p {
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.third-sec {
    display: grid;
    justify-content: center; 
}
.resume {
    display: grid;
    align-self: flex-end;
}



.title-page {
    text-align: center;
    padding-top: 10px ;
}
.row{
    margin-top: 5%;
}
.col {
    text-align: center;
    border: 5 solid;
}

.tomb {
    width: 20%;
    
}

.contact-pg{
    visibility: hidden;
    
}

